.organization {
    padding-bottom: 50px;
    &__title {
        font-weight: bold;
        font-size: 48px;
        line-height: 135%;
        & span {
            color: #FE12F4;
        }
    }
    &__desc {
        font-weight: bold;
        font-size: 24px;
        margin-top: 10px;
        line-height: 135%;
    }
    &__items {
        margin-top: 85px;
        @include flex;
        @include j-c;
        @include wrap;
        column-gap: 90px;
        row-gap: 100px;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            z-index: 1;
            width: 230px;
            height: 1px;
            background-color: #FE12F4;
            top: 47%;
            right: 0px;
        }
        &:before {
            content: '';
            position: absolute;
            z-index: 2;
            width: 230px;
            height: 1px;
            top: 47%;
            left: 0px;
            background-color: #FE12F4;
        }
    }
    &__item {
        width: calc(33.33% - 60px);
        position: relative;
        &:after {
            content: '';
            position: absolute;
            z-index: 1;
            background-color: #FE12F4;
            height: 150px;
            width: 1px;
            top: 0;
            right: -46px;
        }
        &:nth-child(3n) {
            &::after {
                display: none;
            }
        }
        &-num {
            font-weight: bold;
            font-size: 36px;
            line-height: 135%;
            color: #FE12F4;
        }
        &-title {
            font-weight: bold;
            font-size: 24px;
            line-height: 135%;
            height: 64px;
            margin-top: 20px;
        }
        &-desc {
            margin-top: 20px;
            font-size: 18px;
            line-height: 135%;
        }
    }
}

@media screen and (max-width: 1300px) {
    .organization {
        &__items {
            &::after {
                right: 0;
            }
            &::before {
                left: 0;
            }
        }
        &__title {
            font-size: 40px;
        }
        &__desc {
            font-size: 22px;
        }
        &__item {
            &-title {
                font-size: 20px;
                height: 55px;
            }
            &-desc {
                font-size: 16px;
                margin-top: 14px;
            }
        }
    }
}

@media screen and (max-width: 1030px) {
    .organization {
        padding-top: 55px;
        &__items {
            gap: 30px;
            &:before,
            &:after {
                display: none;
            }
        }
        &__item {
            padding-left: 60px;
            width: 100%;
            &::after {
                display: none;
            }
            &-title {
                height: unset;
                margin-top: 0;
            }
            &-num {
                position: absolute;
                left: 0;
                top: -10px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .organization {
        &__title {
            font-size: 18px;
        }
        &__desc {
            font-size: 12px;
        }
        &__items {
            margin-top: 20px;
            gap: 28px;
        }
        &__item {
            padding-left: 30px;
            &-title {
                font-size: 12px;
            }
            &-desc {
                font-size: 10px;
                margin-top: 10px;
            }
            &-num {
                font-size: 18px;
                top: -6px;
            }
        }
    }
}